<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-menu (selectedPage)="changePage($event)" [currentPage]="page" *ngIf="page" (onCloseSidenav)="onClose($event, sidenav)" [isAdmin]="isAdmin"  [loggedInUser]="loggedInUser" (onLogout)="logout($event)"></app-menu>
  </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <div fxHide.gt-xs>
          <button mat-icon-button (click)="onToggleSidenav(sidenav)">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
      <div fxFlex fxLayout fxLayoutAlign="flex-start" fxHide.xs *ngIf="loggedInUser">Logged in as: {{user?.username}}</div>
        <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
          <ul fxLayout fxLayoutGap="10px" class="navigation-items">
            <li *ngIf="loggedInUser && isAdmin"><a routerLink="/orders">Orders</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/main">Shop</a></li>
            <li *ngIf="!(loggedInUser)"><a routerLink="/login">Login</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/cart">Cart</a></li>
            <li *ngIf="loggedInUser"><a routerLink="/login" (click)="logout()">Logout</a></li>
            <li *ngIf="!(loggedInUser)"><a routerLink="/signup">Register</a></li>
          </ul>
        </div>
      </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
