<div>
  <div class="buttonOptions" fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="row wrap" fxLayoutGap="0"  fxLayoutAlign="center">
    <button mat-button (click)="getAllLimitItems()">Main</button>
    <button mat-button (click)="getTypeItems('jeans')">Jeans</button>
    <button mat-button (click)="getTypeItems('tshirt')">T-shirt</button>
    <button mat-button (click)="getTypeItems('jumper')">Jumper</button>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutGap="0"  fxLayoutAlign="center">
    <div fxFlex="20%" fxFlex.xs="80%" fxFlex.sm="33%" fxLayout fxLayoutGap="30px" *ngFor="let item of items;">
      <mat-card card class="z-depth">
        <span>
          <mat-card-content>
              <img mat-card-image [src]="item.imageUrl" />
            <div class="name">{{item.name}}</div>
            <div>Ár: {{item.price}}</div>
            <div>Darabszám: {{item.count}}</div>
          </mat-card-content>
          <mat-card-actions>
              <div>
                <button mat-raised-button color="primary" (click)="toCart(item)">To Cart</button>
              </div>
          </mat-card-actions>
        </span>
      </mat-card>
    </div>
  </div>
</div>
